   
 /* Aca va comentario*/

 .dark-primary-color    { background: #510886; }
 .default-primary-color { background: #4b0857; }
 .light-primary-color   { background: #a02fb4; }
 .text-primary-color    { color: #271cc1; }
 .accent-color          { background: #630726; }
 .primary-text-color    { color: #212121; }
 .secondary-text-color  { color: #0f467d; }
 .divider-color         { border-color: #23041d; }
 


   html{
      font-family: 'Nunito', sans-serif;
     
   }

   a{
      text-decoration: none;
      color:#630726
   }


      a:hover{
         opacity:0.8;
      }
       
        a:focus{
         background: red;

        }
         
      
   
       .title{
         text-transform: uppercase;
         text-align: center;
       }



   

 .container{
    background:#240331;
    background: #ea5486;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #090233, #c6b007);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #320446, #5f11f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
display: flex;
align-items: center;
justify-content: center;



 }
 .content{
    max-width: 950px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color:#f9f3f5;
    
    border-radius: 4px;
    position: relative;
    padding: 1.8em;
    }
    
   
  
   
    
    
.actions{

   position: absolute;
   top:1em;
   right:1em;

   }




.paragraph{

   line-height: 1.8em;
   font-weight: 300;
}


.fa-star, .fa-star-o{
    color:#ffc400;


}

   .table{

      width: 100%;
      border-spacing: 0;
   }

   .table td, .table th{
      padding: 1em;

     text-align: left;
   }

      
      .table tr:nth-child(even){background-color: #f3e5f5;}
   
      .title-item{

         border-bottom: #c6426e solid 2px ;
      
         padding-bottom: 1em;
         
      }
       
      .addres{
        font-weight: bold;
        color:#642873;
        font-size: 1.2em;

      }

      .main-image{
         float: left;
         margin-right: 1em;
         height: 250px;
      }

       .position{

   
         background-color: #c6426e;
         color:white;
         padding: 10px;
         border-radius: 4px;
         margin-right: 0.5em;

     }
         

     
        
  